* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(0deg, #e0d7b14d 23%, rgba(240, 120, 0, 0.3) 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.music-container {
  background-color: rgb(245, 175, 135);
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  position: relative;
  margin: 8rem 0;
  z-index: 10;
  padding: 2rem;
}
.img-container {
  position: relative;
}
.img-container::after {
  content: "";
  background-color: #fff;
  height: 20px;
  width: 20px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}
.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.action-btn {
  background-color: transparent;
  border: none;
  color: grey;
  margin: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: 280px;
  transform: translateY(0%);
  padding: 1rem;
  opacity: 0;
  transition: transform 0.5s ease-in opacity 0.3s ease-in;
  text-align: center;
  text-transform: uppercase;
}
.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.progress-container {
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  margin: 1rem;
  height: 0.4rem;
  width: 200px;
}
.progress {
  background-color: rgb(243, 100, 49);
  height: 0.4rem;
  transition: width 0.3s linear;
  width: 0%;
  border-radius: 30px;
}
